@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.letrat1{
 font-family: 'Pacifico', cursive;
  background-size: 100%;
  font-size:200%;
}
.letrat{  
 font-family: 'Nerko One', cursive; 
 background-size:100%;
 font-size:200%;

}

*{
  box-sizing: border-box; 
}

.sectiontamano{
  width: 24%;

}


body{	
	background-image: url("../../img/interfazusuario/ba.jpg");
	background-repeat:repeat;
	background-position: center;
}
.fondo{
	background-image: url("../../img/plogueo/perfilci.jpeg");
    position: relative;
	background-repeat:no-repeat;
	background-position: center;
}


